<div class="container">
  <div class="row mb-3">
    <div class="col-md-8" >
      <div class="chartParent"  #chartParent>
        <ng-template appChart></ng-template>
      </div>
    </div>
  </div>
  <div class="widget">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell"></div>
          <div class="divTableCell header-text">Std Deviation</div>
          <div class="divTableCell header-text">Std Avg. Time</div>
          <div class="divTableCell header-text">Last updated</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell"
          *ngFor="let stage of oderedStages[collectorItemId]" > {{stage}}
              <!-- <div id="commits" class="divTableCell">Commits</div> -->
              <div class="divTableCell"><ng-template appChart></ng-template></div>
              <div class="divTableCell"><ng-template appChart></ng-template></div>
              <div class="divTableCell"><ng-template appChart></ng-template></div>
            </div>
        </div>
       </div>
    </div>
  </div>
</div>
